body {
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
    overflow: hidden;
}
.scrollbar-outer{
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
      display: none;
  }
}
.overflow-lock{
    overflow: hidden;
}
%transition{
    transition: 0.5s cubic-bezier(0.67, -0.26, 0.09, 1.33);
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    z-index: 9999;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes ldio-d5jivk1ia27 {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-d5jivk1ia27 div {
    position: absolute;
    animation: ldio-d5jivk1ia27 1s linear infinite;
    width: 148px;
    height: 148px;
    top: 26px;
    left: 26px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #f81e00;
    transform-origin: 74px 76px;
  }
  .loadingio-spinner-eclipse-rh3hbvfw09h {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-d5jivk1ia27 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-d5jivk1ia27 div { box-sizing: content-box; }

  progress.scroll-indicator {
    /* Positioning */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
  
    /* Dimensions */
    width: 100%;
    height: 5px;
  
    /* Reset the appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    /* Get rid of the default border in Firefox/Opera. */
    border: none;
  
    /* Progress bar container for Firefox/IE10+ */
    background-color: transparent;
  
    /* Progress bar value for IE10+ */
    color: $secondary-color;
    &::-webkit-progress-bar {
        background-color: transparent;
      }
      
      &::-webkit-progress-value {
        background-color: $secondary-color;
      }
      
      &::-moz-progress-bar {
        background-color: $secondary-color;
      }
  }


// font //

.font-condensed {
    font-family: 'Built Titling Rg';
    letter-spacing: 1px;
}

.font-display {
    font-family: 'Goku';
}

.text-white {
    color: $white;
}

.text-primary {
    color: $primary-color;
}

.text-secondary {
    color: $secondary-color;
}