@font-face {
    font-family: 'Goku';
    src: url('../fonts/Goku-Regular.eot');
    src: url('../fonts/Goku-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Goku-Regular.woff2') format('woff2'),
        url('../fonts/Goku-Regular.woff') format('woff'),
        url('../fonts/Goku-Regular.ttf') format('truetype'),
        url('../fonts/Goku-Regular.svg#Goku-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Built Titling Rg';
    src: url('../fonts/BuiltTitlingRg-Regular.eot');
    src: url('../fonts/BuiltTitlingRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BuiltTitlingRg-Regular.woff2') format('woff2'),
        url('../fonts/BuiltTitlingRg-Regular.woff') format('woff'),
        url('../fonts/BuiltTitlingRg-Regular.ttf') format('truetype'),
        url('../fonts/BuiltTitlingRg-Regular.svg#BuiltTitlingRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

