.content--wrapper {
  transition: 0.5s ease-in-out;

  &.is--open {
    transform: translateY(100px);
  }
}

.section--title{
  font-size: 4.5rem;
}

.hero {
  background: $primary-color;
  height: 100vh;
  position: relative;

  &--banner {
    position: relative;
    z-index: 1;
    height: 100vh;
    padding: 60px;
  }

  &--image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #1b1a25;
      opacity: 0.6;
    }

    img {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
    }
  }

  &--info {
    color: $white;
  }
  &--content{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    // transform: translate(-50%, -50%);
  }

  &--name,
  &--designation {
    position: absolute;
    font-size: 1.2rem;
    span {
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
    }
  }

  &--name {
    top: 60px;
    left: 60px;
  }

  &--designation {
    bottom: 60px;
    left: 60px;
  }

  &--title {
    font-size: 10vw;
    text-align: center;
    margin: 0 0 5%;
  }

  &--description {
    column-count: 2;
    column-gap: 50px;
    max-width: 900px;
    margin: auto;

    span {
      font-size: 1.5rem;
      color: white;
    }
  }
  .v-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 150px;
    background: $secondary-color;
    z-index: 1;
  }
}

.portfolio{
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    &--content{
        padding-left: 15%;
    }
    &--item{
        .grid-x{
            align-items: center;
        }
    }
    &--detail{
        margin-left: 25%;
        position: relative;
    }
    &--description{
        margin-bottom: 2rem;
    }
    .h-line{
        position: absolute;
        left: -33%;
        top: 12px;
        width: 30%;
        height: 3px;
        background: #3D3560;
    }
    &--image{
        overflow: hidden;
        img{
            position: relative;
            right: -100px;
        }
    }
    &:nth-of-type(odd){
      background: $light-gray;
    }
}

.experience-education{
  height: 100vh;
  background: $primary-color;
  display: flex;
  align-items: center;
  .exp-edu-container{
    width: 100%;
  }
  .grid-x{
    padding: 0 15%;
  }
  .section--title{
    color: $white;
  }
  ul{
    line-height: 2;
  }
  .list-label{
    color: $secondary-color;
    font-weight: bold;
    margin-right: 10px;
  }
}