.navigation {
    &--toggle {
        position: fixed;
        right: 60px;
        top: 60px;
        z-index: 4040;
        display: inline-block;
        padding: 15px 20px;
        border: 1px solid $secondary-color;

        span {
            display: block;
            width: 25px;
            height: 2px;
            background: $white;
            margin: 6px 0;
            transition: 0.3s ease-in-out;
            position: relative;
            @extend %transition;
        }

        &.dark-nav {
            span {
                background: $primary-color;
            }
        }

        &.footer-white-nav {
            span {
                background: $white;
            }
        }

        &.is--open {
            span {
                background: $white;

                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transform: scale(0);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -6px);
                }
            }
        }
    }

    &--content {
        height: 100vh;
        position: fixed;
        z-index: 4030;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $primary-color;
        transform: translateY(-100%);
        visibility: hidden;
        transition: 1s cubic-bezier(0.63, 0.29, 0, 1.01);

        &.is--open {
            visibility: visible;
            transform: translateY(0);
            box-shadow: 0px 8px 20px 7px transparentize(black, .95);
        }
    }

    &--list {
        font-size: 5vw;
        text-align: center;
    }

    .link-effect {
        padding: 0 20px;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            background: $secondary-color;
            width: 100%;
            height: 100%;
            left: 0;
            z-index: -1;
            transform: translateY(100%);
            @extend %transition;
        }

        a {
            display: inline-block;
            width: 100%;

            &:hover {
                color: $white;
            }

            &:focus {
                color: $white;
            }
        }

        &:hover::after {
            transform: translateY(0);
        }
    }

    &--info {
        position: absolute;
        bottom: 5%;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        li {
            font-size: 1.1rem;
        }
    }
}