@media screen and (max-width: 1024px) {}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    //CSS

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1366px) {}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .hero {
        &--description {
            max-width: 80%;
        }
    }

    .portfolio {
        &-wrapper {
            .grid-x {
                flex-flow: column-reverse wrap;

                .portfolio--content {
                    max-width: 80%;
                    width: 100%;
                }

                .portfolio--image {
                    max-width: 60%;
                    width: 100%;
                }
            }
        }
        .section--title{
            margin-bottom: 20px;
        }
        .h-line{
            left: 50%;
            transform: translateX(-50%);
            top: -20px;
        }
        &--detail{
            margin-left: 0;
        }
        &--content{
            padding-left: 0;
            text-align: center;
        }
        &--image {
            margin-bottom: 30px;
            img {
                right: unset;
            }
        }
    }

    .exp-edu-container{
        .grid-x{
            .cell{
                width: 100%;
            }
        }
    }

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .portfolio {
        &--content {
            padding-left: 5%;
        }
    }

    .section--title {
        font-size: 3.5rem;
    }

    .experience-education {
        .grid-x {
            padding: 0 5%;
        }
    }

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .section--title{
        font-size: 2rem;
    }
    .navigation{
        &--list{
            font-size: 10vw;
        }
    }
    .hero {
        &--description {
            max-width: 80%;
            column-count: 1;
        }
    }

    .portfolio {
        &-wrapper {
            .grid-x {
                flex-flow: column-reverse wrap;

                .portfolio--content {
                    max-width: 80%;
                    width: 100%;
                }

                .portfolio--image {
                    max-width: 80%;
                    width: 100%;
                }
            }
        }
        .section--title{
            margin-bottom: 20px;
        }
        .h-line{
            left: 50%;
            transform: translateX(-50%);
            top: -20px;
        }
        &--detail{
            margin-left: 0;
        }
        &--content{
            padding-left: 0;
            text-align: center;
        }
        &--image {
            margin-bottom: 30px;
            img {
                right: unset;
            }
        }
    }

    .exp-edu-container{
        .grid-x{
            .cell{
                width: 100%;
            }
        }
    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    //CSS

}